psycopg2-binary==2.9.6
aiohttp[speedups]
asyncpg==0.27.0
emoji
py-cord==2.4.1
pytz
pssapi==0.2.1
sqlalchemy==1.4.47
pss-fleet-data-client @ git+https://github.com/PSS-Tools-Development/pss-fleet-data-client.git@v1.0.5